[submodule "cpp-project/third_party/googletest"]
	path = cpp-project/third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "cpp-project/third_party/xsimd"]
	path = cpp-project/third_party/xsimd
	url = https://github.com/xtensor-stack/xsimd.git
[submodule "velox_test/velox"]
	path = velox_test/velox
	url = https://github.com/facebookincubator/velox.git
[submodule "arrow_demo/arrow"]
	path = arrow_demo/thirdparty/arrow
	url = https://github.com/apache/arrow.git
[submodule "arrow_demo/thirdparty/simdjson"]
	path = arrow_demo/thirdparty/simdjson
	url = https://github.com/simdjson/simdjson.git
